@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&display=swap');


*{
    position: relative;
    text-align : center;
}
#title{
    font-size: 65px;
    font-family: "Asta Sans", sans-serif;
    margin-top:10px;
    font-optical-sizing: auto;
}
.qu_title{
    font-family: "Asta Sans", sans-serif;
    font-optical-sizing: auto;
}
img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.question{
    font-size: 24.5px;
    color:rgb(167, 153, 153);
    font-size: 24.5px;
}
.qsturn{
    color:rgb(24, 25, 28);
}
.button_group{
    margin: auto;
}
.verygood{
    width: 70px;
    height: 70px;
    display: inline-block;
}
.good{
    width: 60px;
    height: 60px;
    display: inline-block;
}

.nomal{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.bad{
    width: 60px;
    height: 60px;
    display: inline-block;
}
.verybad{
    width: 70px;
    height: 70px;
    display: inline-block;
}
.verygood[type="radio"],.good[type="radio"]{
        appearance: none;
        margin: 20px;
        margin-left: 26px;
        margin-right: 26px;
        border: 3px solid rgb(0, 128, 0);
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
    }
.nomal[type="radio"]{
    appearance: none;
        margin: 20px;
        margin-left: 26px;
        margin-right: 26px;
        border: 3px solid rgb(101, 101, 101);
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
}
.verybad[type="radio"],.bad[type="radio"]{
        appearance: none;
        margin: 20px;
        margin-left: 26px;
        margin-right: 26px;
        border: 3px solid rgb(111, 0, 128);
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
    }
.verygood[type="radio"]:checked,.good[type="radio"]:checked {
        border: 3px solid rgb(0, 128, 0);
        background-color: rgb(0, 128, 0);
    }
.nomal[type="radio"]:checked {
        border: 3px solid rgb(101, 101, 101);
        background-color: rgb(101, 101, 101);
    }
.bad[type="radio"]:checked,.verybad[type="radio"]:checked {
        border: 3px solid rgb(111, 0, 128);
        background-color: rgb(111, 0, 128);
        
    }

.yes_test{
    display: inline-block;
    position: relative;
    font-size: 22px;
    color:#09c70f;
    bottom: 45px;
}
button,button:hover{
    display: inline-block;
    appearance: none;
    margin: auto;
    width: 100px;
    height: 50px;

    font-family: "Asta Sans", sans-serif;
    font-size: 20px;
    border: 3px solid black ;
    background-color: rgb(255, 255, 255);

    border-radius: 20px;
}
button:hover{
    background-color: rgb(63, 123, 234);
    color:rgb(255,255,255);
}

.no_test{
    display: inline-block;
    position: relative;
    color:#78369c;
    font-size: 22px;
    bottom: 45px;
}